<?xml version="1.0"?>
<data>
  <service name="firenet">
    <user>me@email.com</user>
    <password>mypassword</password>

    <url_base>https://www.rika-firenet.com</url_base>
    <url_login>/web/login</url_login>
    <url_stove>/web/stove/</url_stove>
    <url_api>/api/client/</url_api>
  </service>
</data>
